{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block body %}
<div class="container mb-5">
    <header class=" mb-5">
        <h1 class=" mt-5 text-danger text-center">Bienvenue chez GamerHub</h1>
    </header>
    <main class="main mt-5 mb-5">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col">
                <div class="d-flex justify-content-center justify-content-md-end me-md-5">
                    <img class="object-fit-cover" src="{{asset('build/images/Bowser.png')}}" alt="Bowser">
                </div>
            </div>

            <div class="col">
                <p class=" home-div text-dark ms-3 ms-md-0 text-center mt-5">
                    Bienvenue sur GamerHub !

                    Le lieu ultime pour les passionnés de jeux vidéo ! Plongez-vous dans un univers riche d'actualités,
                    de critiques, de guides et bien plus encore.
                </p>
            </div>
        </div>
    </main>
</div>

{% endblock %}