{% extends 'admin.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center flex-column align-items-center">
    <h1 class="text-dark mb-5 text-center">Bienvenue sur la page d'administration !</h1>
    <p class="text-dark text-center p-auto mt-5 w-50 h-50 ">
        Cher administrateur de GamerHub,

        Bienvenue dans votre espace dédié au cœur de GamerHub ! Vous êtes le pilier de ce site d'information sur les
        jeux vidéo, et nous sommes ravis de vous avoir à bord.
       </p>
</div>
{% endblock %}