{% extends 'admin.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center flex-column align-items-center">
    <h1 class="text-dark">Bienvenue sur la page d'administration !</h1>
    <p class="text-dark text-left mt-5 w-50">
        Cher administrateur de GamerHub,

        Bienvenue dans votre espace dédié au cœur de GamerHub ! Vous êtes le pilier de ce site d'information sur les
        jeux vidéo, et nous sommes ravis de vous avoir à bord.

        En tant qu'administrateur, vous jouez un rôle essentiel dans l'orientation et le développement de cette
        plateforme. Vous avez le pouvoir de façonner l'expérience de nos visiteurs, de gérer les contenus et de veiller
        à ce que chaque aspect du site fonctionne de manière fluide.

        Votre passion pour les jeux vidéo et votre dévouement envers la communauté des joueurs sont la clé de notre
        succès. Nous sommes impatients de collaborer avec vous pour faire de GamerHub la référence incontournable pour
        tous les amateurs de gaming.

       </p>
</div>
{% endblock %}