$primary: #dc3522;
$primary-light: #eb6354;
$secondary: #36403f;
$secondary-light: #757e7d;
$dark: #08080b;
$dark-light: #0e0d12;
$dark-opacity: rgba(8, 8, 11, 0.4);
$light: #fbfbfb;
$tertiary: #474035;
$success-light: #6bc92c;
$danger: rgb(209, 45, 45);

$navbar-height: 64px;
$footer-height: 90px;

$dropdown-link-hover-bg: $primary;
$dropdown-link-hover-color: $dark-light;

$font-base: "Roboto", sans-serif;
$font-card-title: "SnellBT-Regular", sans-serif;
$font-size-mid: 2rem;

$body-color: $light;
$body-bg: $dark-light;
$font-family-base: $font-base;

