@import "_theme.scss";
@import "_footer";

body {
    background-color: $light;
    padding-block-start: $navbar-height;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    margin-top: auto;
}

p {
    font-family: $font-base;
    letter-spacing: 3px;
}

html {
    height: 100%;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}