@import "_theme.scss";
@import "_footer";

body {
    background-color: $light;
    padding-block-start: $navbar-height;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    padding-bottom: $footer-height;
}
.custom-btn {
    border: none;
    background-color: transparent;
    color: $light;
}

.home-div {
    height: 300px;
    width: 300px;
}
.custom-width
{
    width: 100px;
}

.custom-img
{
    width: 100%;
    height: 600px;
    margin-bottom: 2rem;
}

p {
    font-family: $font-base;
    letter-spacing: 3px;
}

html {
    height: 100%;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}